<section class="hero" id="hero">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.15752-9/248081778_423658205867281_1899628277717789006_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Ek7GsyRE2LYAX_5lmaD&_nc_ht=scontent.ftun9-1.fna&oh=03_AdR-oczgAWnGC_XDObhVofr0OViyUKG0W0WZsYzPYO9_XQ&oe=651D5B77" class="img-fluid" alt="">
                        </div>

                        <div class="carousel-item">
                            <img  src="https://themewagon.github.io/medic-care/images/slider/young-asian-female-dentist-white-coat-posing-clinic-equipment.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="https://themewagon.github.io/medic-care/images/slider/doctor-s-hand-holding-stethoscope-closeup.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="heroText d-flex flex-column justify-content-center">

                    <h1 class="mt-auto mb-2">
                        Better
                        <div class="animated-info">
                            <span class="animated-item">health</span>
                            <span class="animated-item">days</span>
                            <span class="animated-item">lives</span>
                        </div>
                    </h1>

                    <p class="mb-4">This platform is dedicated for Medic care staff to ensure the management of the center</p>

                    <div class="heroLinks d-flex flex-wrap align-items-center">
                        <a  id="make"  routerLink="/booking" class="custom-link "  data-hover="Make an appointment">Make an appointment</a>

                        
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</section>


