
<section class="section-padding" id="booking">
    <div class="container">
        <div class="row">
        
            <div class="col-lg-8 col-12 mx-auto">
                <div class="booking-form">
                    
                    <h2 class="text-center mb-lg-3 mb-2 ">Update</h2><br><br>
                
                    <form role="form" action="#booking" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <input type="text" name="firstname" id="name" class="form-control" placeholder="First Name" required [(ngModel)]="Patient.firstname" >
                            </div>  
                            <div class="col-lg-6 col-12">
                              <input type="text" name="familyname" id="name" class="form-control" placeholder="Family Name" required [(ngModel)]="Patient.familyname">
                          </div> 

                            <div class="col-lg-6 col-12">
                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required [(ngModel)]="Patient.email">
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="telephone" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" placeholder="Phone: 123-456-7890" [(ngModel)]="Patient.phone">
                            </div>
                            <div class="col-lg-6 col-12">
                              <input type="number" name="age" id="date" placeholder="age" value="" class="form-control" [(ngModel)]="Patient.age">
                              
                          </div>  

                            <div class="col-lg-6 col-12">
                                <input type="date" name="date" id="date" value="" class="form-control" [(ngModel)]="Patient.date">
                                
                            </div>  <br>
              
                            


                            <div class="col-lg-3 col-md-4 col-6 mx-auto">
                                <button type="submit" class="form-control" id="submit-button" (click)="Updatepatient()">Update</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

