<section class="section-padding" id="booking">
    <div class="container">
        <div class="row">
        
            <div class="col-lg-8 col-12 mx-auto">
                <div class="booking-form">
                    
                    <h2 class="text-center mb-lg-3 mb-2 "> Add Doctor</h2><br><br>
                
                    <form role="form" action="#booking" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <input type="text" name="firstname" class="form-control" placeholder="First Name" required [(ngModel)]="doctor.firstname">
                            </div>  
                            <div class="col-lg-6 col-12">
                              <input type="text" name="familyname"  class="form-control" placeholder="Family Name" required  [(ngModel)]="doctor.familyname">
                          </div> 

                            <div class="col-lg-6 col-12">
                                <input type="text" name="speciality"  class="form-control" placeholder="speciality" required [(ngModel)]="doctor.speciality">
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="telephone" name="phone" class="form-control" placeholder="Phone: 123-456-7890" [(ngModel)]="doctor.phone" >
                            </div>
                            <div class="col-lg-6 col-12">
                              <input type="text" name="id"  placeholder="id"  class="form-control" [(ngModel)]="doctor.id" >
                              
                          </div>  
                          <div class="col-lg-6 col-12">
                            <input  type="file" name="first"   class="form-control"   >
                            
                        </div>  <br>

                             <br>
              
                            


                            <div class="col-lg-3 col-md-4 col-6 mx-auto">
                                <button type="submit" class="form-control" id="submit-button" (click)="Updatedoctor()">Update</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>


