.div{
margin-top: 30px!important;
margin-left: 70px!important;
}
img{
    margin-top: 20px!important;
}
.btn-group{
    margin-left: 150px;
}
.b{
   padding-left: 23px;
   padding-right: 15px;
}
.titre{
    color: #007BFF;
    margin-left: 35px;
   
}
.b2{
    margin-top: 30px!important;
    margin-left:600px;
 }
 .b3{
    border: solide 5px #007BFF !important ;
    color: #007BFF !important;
 }